version: "3.9"

services:
  database:
    image: postgres:16-alpine
    container_name: db
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./database/00-init.sql:/docker-entrypoint-initdb.d/00-init.sql
      - ./database/01-populate.sql:/docker-entrypoint-initdb.d/01-populate.sql

  backend:
    build: ./backend
    container_name: backend
    depends_on:
      - database
    environment:
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
    expose:
      - "8081"

  frontend:
    build: ./frontend
    container_name: frontend
    depends_on:
      - backend
    expose:
      - "8080"

volumes:
  db_data:
